// DEFINE YOUR COLORS HERE
$background-main: #1f2228;
$background-second: #17191d;
$grey: #41454b;
$yellow: #ffe91c;
$green: #38A512;
$red: #F02D2D;
$light-blue: #CCEAF6;
$blue: #0990F2;
$blue-lighter: #00ade2;
